{% extends "base_manager.html" %}
{% block content %}
    <div class="table-responsive" id="tablecontainer">
        <form action="/add_clazz/" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
            {% csrf_token %}
            <div class="form-group">

                <label for="name" class="sr-only">专业名称</label>
                <select class="form-control" name="major">
                    {% for row in majors %}
                        <option>{{ row.major_code }}-{{ row.name }}</option>
                    {% endfor %}
                </select>
            </div>
         <div class="form-group">

                <label for="name" class="sr-only">专业名称</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="班级名称（2015级1班）"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <input type="submit" value="提 交" class="btn btn-primary">
            </div>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </form>
    </div>
{% endblock %}