{% extends "base_manager.html" %}
{% block content %}
    <div class="table-responsive" id="tablecontainer">
        <table border="1" class="table table-striped table-bordered table-hover"
               style="width: 1000px; border-collapse: collapse;">
            <thead>
            <tr>
                <td>课表</td>
                <td>星期一</td>
                <td>星期二</td>
                <td>星期三</td>
                <td>星期四</td>
                <td>星期五</td>
            </tr>
            </thead>
            <tbody>
            {% for k, v in time_table.items %}

                <tr>
                    {% if k == '1' %}
                        <td>{{ k }}（8:00~9:40）</td>
                    {% elif k == '2' %}
                        <td>{{ k }}（10:00~11:40）</td>
                    {% elif k == '3' %}
                        <td>{{ k }}（14:00~15:40）</td>
                    {% elif k == '4' %}
                        <td>{{ k }}（15:50~17:50）</td>
                    {% endif %}

                    {% if v.1 %}
                        <td>{{ v.1.curriculum.name }}-{{ v.1.curriculum.teacher_id.name }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if v.2 %}
                        <td>{{ v.2.curriculum.name }}-{{ v.2.curriculum.teacher_id.name }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if v.3 %}
                        <td>{{ v.3.curriculum.name }}-{{ v.3.curriculum.teacher_id.name }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if v.4 %}
                        <td>{{ v.4.curriculum.name }}-{{ v.4.curriculum.teacher_id.name }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if v.5 %}
                        <td>{{ v.5.curriculum.name }}-{{ v.5.curriculum.teacher_id.name }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

    <hr />
    <h3 style="margin: 30px 0;">添加课程</h3>

    <div class="table-responsive" id="tablecontainer">
        <form action="/change_clazz_time_table/" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
            {% csrf_token %}
        <input hidden value="{{ clazz_id }}" name="clazz_id">
            <div class="form-group">
                <label for="week">星期几：</label>
                <select  name="week" class="form-control">
                    <option value="1">星期一</option>
                    <option value="2">星期二</option>
                    <option value="3">星期三</option>
                    <option value="4">星期四</option>
                    <option value="5">星期五</option>
                </select>
            </div>

        <div class="form-group">
                <label for="table_time">第几节课：</label>
                <select  name="table_time" class="form-control">
                    <option value="1">第一节</option>
                    <option value="2">第二节</option>
                    <option value="3">第三节</option>
                    <option value="4">第四节</option>
                </select>
            </div>

            <div class="form-group">
                <label for="curriculum">课程：</label>
                <select name="curriculum" class="form-control">
                    {% for row in curriculums %}
                        <option value="{{ row.id }}">{{ row.id }}-{{ row.name }}-{{ row.teacher_id.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="新增/修改" class="btn btn-primary">
            </div>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </form>
    </div>
{% endblock %}