{% extends "base_manager.html" %}
{% block content %}
    <div class="table-responsive" id="tablecontainer">
        <table border="1" class="table table-striped table-bordered table-hover"
               style="width: 1000px; border-collapse: collapse;">
            <thead>
            <tr>
                <td>专业代码</td>
                <td>专业名</td>
            </tr>
            </thead>
            <tbody>
            {% for major in majors %}
                <tr>
                    <td>{{ major.major_code }}</td>
                    <td>{{ major.name }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}